@model EmployeeLogin.Models.Model
@{
    Layout = null;
}
@{
    ViewBag.Title = "Login";
}
<div style="text-align:center">
    @using (Html.BeginForm("Login", "Employee", FormMethod.Post))
    {
        <label>UserName</label>
        @Html.TextBoxFor(m => m.UserName)
        <br />
        <label>Password</label>
        @Html.PasswordFor(m => m.Password)
        <br />
        <h4>@ViewBag.x</h4>
        <button type="submit">Login</button>
    }
</div>
